{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}
    <div class="container my-3">
        <h1>About MyTodo</h1>
        <p>
            You can Add your todo list in this website.</br>
            If you have forgotten to add any thing in your todo you can update your todo.</br>
            If you done doing the item in todo you can delete those item.
        </p>
        <h2>
            Go Add your things in your todo. </br>
            Complete that work.
        </h2>
    </div>
{% endblock body %}